<div class="page-layout">
  <!-- SIDEBAR -->
  <aside class="side-bar">
    <div class="user-container">
      <div class="nickName">{{ perfil.nomeArtistico }}</div>

      <div class="user">{{ perfil.nomeUsuario }}</div>
    </div>

    <div class="contact-container">
      <a href=""></a>
      <button class="btn btn-primary">Formulário</button>

      <button class="btn btn-sm">chat</button>
    </div>

    <div class="description-container">
      <p>{{ perfil.bio }}</p>
    </div>

    <div class="social-container">
      <ul>
        <li><a href="">@X/Twitter</a></li>
        <li><a href="">@Instagram</a></li>
        <li><a href="">@TIKTOK</a></li>
        <li><a href="">@Youtube</a></li>
      </ul>
    </div>
  </aside>
</div>
