<div class="pin-card">
  <!-- o botão abaixo leva para a pagina carrinho-->
  <button class="btnFav">Carrinho</button>

  <img [src]="post.portfolio" />

  <div class="description">
    <div class="left">
      <a class="circle-sm" routerLink="/perfil">
        <img [src]="post?.usuario?.fotoPerfil" [alt]="" />
      </a>
    </div>
    <div class="midle">
      <div class="title">{{ post.titulo }}</div>
      <div class="title">@{{ post.nomeArtistico }}</div>
    </div>
  </div>
</div>
<!--
chat, quero terminar meu site em dois dias. Eu tenho a home, tenho layout de perfil mas que n ta
pegando os dados, tenho modals de login para artista e usuario comum, tenho modal pra entrada de
pin, tenho modal para enviar uma arte digital, menu, cards para categoria e estilo que ja tem uma
logica pronta, uma parte para o carrinho mas o botão n leva ainda para a pagina carrinho, tenho o
banco de dados pronto no supabase, mas falta arrumar as configurações, o supabase ja cria api para
back, o back ja tem as regras de negocio. o que mais quero fazer: dashboard para o artista esconder
o botão quando loga ver o proprio perfil e reocnhecer se o perfil é seu ou não fazer as mecanicas de
edição de perfil para usuarios comuns e artistas fazer a tela de status de pedido e entre outros
relacionados conectar o chat e fazer ele funcional ter um banco de dados para teste separado no
proprio front antes da conexão principal
-->
