@if ((modal.modalOpen$ | async) === 'login') {
  <div class="modal-overlay" (click)="modal.closeModal()">
    <div class="container-login" (click)="$event.stopPropagation()">
      <div class="container-login">
        <header class="divLogo">
          <h1 class="logo">ChArte</h1>
        </header>
        <main>
          <button class="close-login" (click)="modal.closeModal()">×</button>

          <form class="loginform">
            <input type="email" name="gmail" id="gmail-txt" placeholder="E-mail" />

            <input type="text" name="username" id="username-txt" placeholder="Usuário" />

            <input type="password" name="password" id="password-txt" placeholder="Senha" />

            <div class="logar">
              <a href="">Esqueceu a senha?</a>

              <div class="buttonbox">
                <input type="submit" value="Logar" id="login" />
              </div>
            </div>
          </form>

          <a href="">Sou artista</a>

          <footer class="modalfooter">
            <p>Não tem uma conta?</p>
            <a href="">Criar conta</a>
          </footer>
        </main>
      </div>
    </div>
  </div>
}
