@if ((modal.modalOpen$ | async) === 'pinModal') {
  <div class="modal-overlay" (click)="modal.closeModal()">
    <div class="container-login" (click)="$event.stopPropagation()">
      <div class="container-modal-pin">
        <button class="close-login" (click)="modal.closeModal()">×</button>

        <div class="left">
          <div class="modal-pin-card">
            <img [src]="post.portfolio" [alt]="post.descricao" />
          </div>

          <div class="tags-container">
            <div class="tags">
              <div class="tag"></div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="circle-sm">
            <img [src]="post?.usuario?.fotoPerfil" [alt]="" />

            <div class="title">{{ post.titulo }}</div>
            <div class="title">@{{ post.nomeArtistico }}</div>
          </div>

          <button class="btn btn-primary comprar"></button>
        </div>
      </div>
    </div>
  </div>
}
