.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.65rem 1.5rem;
  margin: 3px;
  border-radius: 30px;
  border: none;

  font-size: 1rem;
  font-weight: 500rem;
  background-color: var(--btn);
  cursor: pointer;
  transition: none;
  color: var(--text-bg);
}
.btn:hover {
}

.btn-sm {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 45px;
  padding: 0.65rem 1.5rem;
  margin: 2px;
  border-radius: 100%;
  border: none;
  background-color: var(--btn);
  color: var(--text-bg);
  font-size: 1rem;
  font-weight: 500rem;

  cursor: pointer;
  transition: none;
}
.btn-lg {
}

.btn-primary {
  background-color: var(--btn-primary);
  color: var(--btn-primary-btn);
}

.btn-secondary {
  background-color: var(--btn-secondary);
  color: var(--text-secondary-btn);
}

.btn-danger {
}
.btn-sucess {
}

.btnFav {
  margin-right: 35px;
  display: flex;
  justify-self: right;
  border-radius: 0 0 12px 12px;
  height: 50px;
  width: 35px;
  position: absolute;
  background: rgba(255, 255, 255, 0.74);
  border: none;
  cursor: pointer;

  /*
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);

  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  */
}

.btnLike {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  margin: 10px 30px;
  cursor: pointer;
}
