/*Yas*/

/*Fim yas*/
:root {
  --text-bg: rgb(230, 230, 230);
  --card_width: 250px;
  --card_border_radius: 16px;
  --row_increment: 10px;

  /**/
  /*vertical*/
  --pin-card_small: 26;
  --pin-card_medium: 33;
  --pin-card_large: 45;

  --pin-card_horizontal: 2;
  /*horizontal*/
  --pin-card_small-h: 40;
  --pin-card_medium-h: 55;
  --pin-card_large-h: 70;
}
.pin_container {
  margin: 0 auto;
  padding: 0;
  width: 96vw;
  position: absolute;
  columns: 5 320px;

  /*
  transform: translateX(-50%);

  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  justify-content: center;*/
}

.pin-card {
  width: 90%;
  max-width: 1224px;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 0;
  overflow: hidden;

  break-inside: avoid;
  /*
  overflow: hidden;
  padding: 0px;
  margin: 15px 10px;
  border-radius: var(--card_border_radius);
  background-color: red;
  cursor: pointer;*/
}

.pin-card img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 35px;
  cursor: pointer;
}

.pin-card .title {
  margin-top: 10px;
  color: beige;
}

.description {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.card {
  display: inline-block;
  background-color: rgb(96, 107, 107);
  width: 250px;
  height: 150px;
  flex-shrink: 0;
  margin: 5px;
  cursor: pointer;
  border-radius: 15px;
}

.card-sm {
  display: inline-flex;
  width: fit-content;
  max-width: 165px;
  flex-shrink: 0;
  margin: 5px;
  /*background-color: var(--trp);*/
  cursor: pointer;
}

.card-lg {
  width: 100%;
  height: 25vh;
  cursor: pointer;
}
/*
.flexCard {
  width: 3500px;
  max-width: 100%;
  border-radius: 16px;
  overflow: hidden;
  background: #473f3f;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.cardImg img {
  width: 100%;
  height: auto;
  display: block;
}
*/
.Imagecard-sm {
}
.Imagecard-lg {
  width: 120px;
  height: 120px;
}
.circle {
  flex-shrink: 0;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  margin: 5px;
  background-color: var(--loading);

  border-radius: 100%;

  align-content: center;
}
.circle-sm {
  flex-shrink: 0;
  width: 3.5rem;
  height: 3.5rem;
  margin: 5px;
  background-color: var(--loading);

  border-radius: 100%;
}

.circle-lg {
  border-radius: 100%;
}

.swipeablesCards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;

  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: azure;
  background-color: var(--trp);

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.swipeablesCards:active {
  cursor: grabbing;
}
.swipeablesCards::-webkit-scrollbar {
  display: none;
}
.sloganCard {
  display: flex;
  background-color: red;
  background-color: var(--trp);
  width: fit-content;
  height: 60px;
}
.sloganCard h2 {
  margin: 5px;
  color: var();
}

/**/

.perfilCard {
  display: flex;
  position: absolute;
  top: 150px;
  left: 80px;
  z-index: 10;
  background-color: aqua;
}
.mural {
  padding-top: 35%;
  height: max-content;
  background-color: blueviolet;
}
.desc {
  background-color: yellow;
}
