<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheet/main.css" />
    <title>Document</title>
  </head>
  <body></body>
</html>

<div class="submenu">
  <div class="card-sm">
    
    <h2>Perfil</h2>
    <h2>Configurações</h2>
    <h2>Ajuda</h2>
    <h2>Favoritos</h2>

</div>
<div class="card-sm">
    <h2>Desbloqueie acesso para artistas</h2>
</div>
<div class="card-sm">
      <div class="cardModo"><button>Sol</button>
    <button>Lua</button></div>

</div>
<div class="card-sm">
    <h2>Sair</h2>
</div>
<div class="card-sm">
    <p>Sobre nós</p>
</div>
  
    
  </div>
</div>

<div class="submenu-sm"></div>

<div class="submenu-lg"></div>

<div class="submenu-login"></div>
